/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- GENERAL RULES (Mobile First) --- */

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #e2e3ed;
}

body {
  background: url(../img/escheresque_ste.png) repeat;
  background-attachment: fixed;
  
}

html,
body,
header,
.hero-area,
.about,
.gallery,
.quote,
.work, 
footer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}


.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: 100%;
}


h1, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1.05em;;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

/* --- HEADER AND FOOTER STYLES (Mobile-first) --- */

header .content-wrapper {
  flex-flow: row wrap;
  margin-top: 10px;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px darkgray;
}

.logo-area, 
nav {
  width: 100%;
  flex-flow: nowrap;
}

.logo,
.logo-area h2 {
  padding: 0 1em;
}

header i {
  font-size: 2.5em;
}

.logo-area h2 {
  text-align: center;
  font-size: 1.7em;
  line-height: 1em;
  margin: 0;
}

.logo-area h2 span {
  font-size: .75em;
}

header nav {
  display: flex;
  justify-content: center; 
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0;
  width: 90%;
}

header nav ul li {
  display: flex;
  opacity: 75%;
  padding: 5px 10px;
  border-radius: 30px;
  transition: 0.2s;
}

header nav ul li:hover {
  background: #606060;
}

header nav ul li a {
  font-size: 1.2em;
  text-transform: uppercase;
}

footer .content-wrapper {
  flex-flow: row wrap;
  padding-top: 40px;
  padding-bottom: 50px;
}

.contact-box {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.contact-box input[type=text] {
  width: 100%;
  background-color: #505050;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  border: solid #202020 1px;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  opacity: 65%;
}

.contact-box input[type=button] {
  background: none;
  color: #e2e3ed;
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  border: solid 2px #e2e3ed;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 10px 0;
  transition: 0.3s;
}

.contact-box input[type=button]:hover {
  background: #606060;
}


/* --- HOMEPAGE STYLES (Mobile-first) --- */

.hero-area .content-wrapper {
  background: url(../img/dariusz-sankowski-3OiYMgDKJ6k-unsplash-darker.jpg);
  background-size: cover;
  background-position: left;
  height: 500px;
  align-items: flex-start;
  border-radius: 30px;
}

.hero-area h2 {
  width: 100%;
  font-size: 3.2em;
  padding-top: 25px;
  padding-right: 10%;
  text-align: left;
  color: white;
}

.about .content-wrapper {
  flex-flow: row wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about .headshot-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about .headshot {
  position: cover;
  width: 70%;
  border-radius: 100%;
  overflow: hidden;
}

.about .headshot img {
  width: 100%;
}

.about .socials {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.about .socials h3 {
  text-align: center;
  margin: 5px 0;
  border: solid 2px #e2e3ed;
  border-radius: 30px;
  padding: 5px 10px;
  transition: 0.3s;
}

.about .socials h3:hover {
  background: #606060;
}

.about .social-icons {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.about .social-icons p {
  font-size: 2em;
  padding: 0 30px;
  margin: 5px 5px 0 5px;
  border: solid 2px #e2e3ed;
  border-radius: 30px;
  transition: 0.3s;
}

.about .social-icons p:hover{
  background: #606060;
}

.gallery .content-wrapper {
  flex-flow: row wrap;
  background: url(../img/patrick-fore-bg20VZvrfvY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.gallery h1,
.gallery .tile-wrapper {
  width: 100%;
}

.gallery h1 {
  margin-bottom: 10px;
}

.gallery .tile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.gallery-tile {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  width: 70%;
  margin: 20px 0;
  border: solid 2px #505050;
  border-radius: 0 30px 0 30px;
  height: 225px;
  transition: 0.3s;
}

.gallery-tile h3 {
  background: #313131;
  padding: 5px 10px;
  border: solid 1px #505050;
  border-radius: 0 30px 0 30px;
  transition: 0.3s;
}

.gallery-tile h3:hover {
  background: #606060;
}

#tile-1 {
  background: url(../img/unplugged-tile.png);
  background-size: cover;
  background-position: top;
}

#tile-2 {
  background: url(../img/rogue-tile.png);
  background-size: cover;
  background-position: top;
}

#tile-3 {
  background: url(../img/jubilee-tile.png);
  background-size: cover;
  background-position: top;
}

.gallery-link {
  border: solid 2px #e2e3ed;
  border-radius: 30px;
  padding: 5px 10px;
  transition: 0.3s;
}

.gallery-link:hover {
  background: #606060;
}


.quote {
  padding: 60px 0;
  font-style: italic
}

.work .content-wrapper {
  flex-flow: row wrap;
  background: url('../img/pexels-fwstudio-163999-darkened.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.work h1,
.work-column {
  width: 100%;
}

.work h1 {
  margin-bottom: 10px;
}

.work h3 {
  margin: 15px 0 0 0;
}

.work ul {
  margin: 5px 0 16px 0;
  padding-left: 30px;
}

.work ul li {
  color: white;
}

.work-column {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-wrapper {
  width: 75%;
  border: solid 2px #e2e3ed;
  border-radius: 30px;
  margin: 15px 20px;
  padding: 0 10px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* ~~~~~~~~~~ TABLET STYLES ~~~~~~~~~~ */

  /* General Tablet Styles */

  h1 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 1.6em;
  }

  .content-wrapper {
    width: 85%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .col-2 {
    width: 50%;
  }

  /* Header & Footer Tablet Styles */

  header .content-wrapper {
    flex-flow: nowrap;
    justify-content: space-between;
    padding-left: 0;
  }

  .logo-area,
  nav {
    width: 50%;
  }

  .logo-area {
    border: none;
    justify-content: flex-start;
  }

  .logo {
    padding-left: 0;
  }

  header nav {
    justify-content: flex-end;
  }

  header nav ul {
    width: 95%;
  }

  footer .content-wrapper {
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #footer-left {
    font-size: .9em;
  }

  footer h1 {
    padding-top: 5px; 
  }

  footer h3 {
    width: 90%;
  }

  .contact-box {
    margin-top: 25px;
  }

  /* Homepage Tablet Styles */

  .hero-area h2 {
    font-size: 4em;
  }

  .about .content-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
  }

  #about-left {
    flex-basis: 350px;
    flex-grow: 1;
  }

  #about-right {
    flex-basis: 260px;
    flex-grow: 1;
  }

  .about .headshot-container {
    margin-top: 20px;

  }

  .about .headshot {
    width: 60%;
  }

  .about .socials {
    font-size: .7em;
  }

  .about .socials h3 {
    margin: 0;
  }

  .about .social-icons {
    padding-top: 5px;
  }

  .gallery-tile {
    width: 51%;
    height: 300px;
  }

  .gallery-tile:hover {
    width: 60%;
    height: 340px; 
    margin: 0;
  }

  .quote {
    padding: 95px 0;
  }

  .work .content-wrapper {
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .work-column {
    width: 31%;
  }

  .work-wrapper {
    width: 100%;
    margin: 0;
  }


}


@media only screen and (min-width: 1200px) {

  /* ~~~~~~~~~~ DESKTOP STYLES ~~~~~~~~~~ */

  /* General Desktop Styles */

  body {
    font-size: 1.2em;
  } 
  
  .content-wrapper {
    width: 80%;
  }


  /* Header & Footer Tablet Styles */

  header nav ul {
    width: 90%;
  }


  /* Homepage Desktop Styles */

  .gallery .tile-wrapper {
    flex-flow: nowrap;
    justify-content: space-between;
  }

  .gallery-tile {
    width: 31%;
    height: 300px;
  }

  .gallery-tile:hover {
    width: 40%;
    height: 340px;
    margin: 0; 
  }

  .quote h3 {
    width: 90%;
  }


}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

